<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Sorry your schedule clashes with user: <%= id %> </h1>
    <a href="http://localhost:3000/schedule/new">
    <button>
        enter new schedule
    </button>
    </a>
    <a href="http://localhost:3000/">
    <button>
        go back to homepage
    </button>
    </a>
</body>
</html>