<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
</head>
<body>
    <h1>Welcome to our scheduling/ tracking app!</h1>
    <h2>Please select a service:</h2>
    <a href="http://localhost:3000/schedule">
    <button>
        schedule an event!
    </button>
    </a>
    <a href="http://localhost:3000/laundry">
    <button>
        track your laundry!
    </button>
    </a>
</body>
</html>